/***************************************************************************************
GENERAL
***************************************************************************************/

header {
    text-align: center;
    background-color: royalblue;
    opacity: 80%;
    color: white;
    margin-bottom: 20px;
    padding: 20px;
}

body {
    background-image: url(Assets/sky.jfif);
}

.container {
    text-align: center;
    margin: auto;
    padding-bottom: 70px;
}

#sidebar {
    background-color: lightgray;
    opacity: 80%;
    padding: 10px;
}

#currentWeather {
    background-image: linear-gradient(#E65100, white);
}

#forecastHeading {
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.forecast-card {
    background-color: royalblue;
}

/***************************************************************************************
UV INDEX SPAN COLORS
***************************************************************************************/

.UVLow {
    background-color: green;
    padding: 5px;
    border-radius: 10%;
}

.UVModerate {
    background-color: orange;
    padding: 5px;
    border-radius: 10%;
}

.UVHigh {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10%;
}

/***************************************************************************************
BUTTONS & PSEUDOCLASSES
***************************************************************************************/

.cityBtn {
    display: block;
    width: 100%;
    border: 1px solid white;
}

.fa-window-close:hover {
    color: red;
}

.deleteBtn {
    float:right;
}

/***************************************************************************************
TEXT / FONTS
***************************************************************************************/

p {
    font-size: large;
    font-weight: bold;
}

h1 {
    font-size: 40pt;
}

#currentWeather p {
    font-size: x-large;
}