header {
    text-align: center;
    background-color: royalblue;
    opacity: 80%;
    color: white;
    margin-bottom: 20px;
    padding: 20px;
}

body {
    height: 100%;
    background-image: url(Assets/sky.jfif);
    margin: auto;
}

.container {
    text-align: center;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 150px;
}

#sidebar {
    background-color: lightgray;
    opacity: 80%;
    padding: 10px;
    width: 40%;
}

#forecastHeading {
    margin-top: 50px;
    margin-bottom: 15px;
    padding-left: 15px;
    text-align: center;
}

#citySearchAside {
    margin-left: 0px;
    padding-left: 0px;
}

.cityBtn {
    display: block;
    width: 100%;
    border: 1px solid white;
    /* padding: 5px; */
    /* margin-top: 5px; */
}

.UVLow {
    background-color: green;
    padding: 5px;
    border-radius: 10%;
}

.UVModerate {
    background-color: orange;
    padding: 5px;
    border-radius: 10%;
}

.UVHigh {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10%;
}

.forecast-card {
    background-color: royalblue;
}

#currentWeather {
    background-image: linear-gradient(#E65100, #FFF59D);
}

p {
    font-size: large;
    font-weight: bold;
}

#currentWeather p {
    font-size: x-large;
}

#forecastHeadingText {
    text-align: center;
}

.fa-window-close:hover {
    color: red;
}

.deleteBtn {
    float:right;
}
